{
  "ignore": [
    "node_modules/**/*.js"
  ],
  "compact": false,
  "retainLines": false,
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
      },
    ],
  ],
  "presets": [
    [
      "@babel/env", {
        "exclude": [
          "transform-literals",
          "transform-sticky-regex"
        ],
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "12.0"
        }
      }
    ]
  ]
}
