{
  "ignore": [
    "node_modules/**/*.js"
  ],
  "compact": false,
  "retainLines": false,
  "plugins": [
    "@gerhobbelt/babel-plugin-proposal-unicode-property-regex",
    [
      "@gerhobbelt/babel-plugin-transform-runtime",
      {
        "corejs": 3,
      },
    ],
  ],
  "presets": [
    ["@gerhobbelt/babel-preset-env", {
      "exclude": ["transform-literals"],
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"],
        "node": "6.0"
      }
    }]
  ]
}
